@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .theme {
    --foreground-rgb: theme('colors.neutral.100');
  }
  
  :root {
    @apply theme;
  }
  
  html {
    @apply theme overflow-x-hidden;
  }
  
  body {
    color: var(--foreground-rgb);
    background-size: cover;
    background-image: url("/bg.png");
  }
  
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}

@layer components {
  /* region Button styling (button-*) */
  
  .button-border {
    @apply border border-slate-400;
  }
  
  .button-bg-hover {
    @apply hover:bg-slate-200;
  }
  
  .button-text-hover {
    @apply hover:text-slate-700;
  }
  
  .button-toggle-common {
    @apply transform-smooth rounded-lg;
  }
  
  /* endregion */
  
  .invert-base {
    @apply duration-200;
  }
  
  .bg-blink-base {
    @apply rounded-lg;
    
    @keyframes bg-blink-animation {
      0% {
        background-color: var(--bg-highlight);
      }
      
      50% {
        background-color: transparent;
      }
      
      100% {
        background-color: var(--bg-highlight);
      }
    }
    
    animation: bg-blink-animation 3s ease-in-out infinite;
  }
  
  .info-highlight-base {
    @apply rounded-lg shadow-slate-200;
  }
}

@layer utilities {
  .transform-smooth {
    @apply transform-gpu transition-all;
  }
  
  .scrollbar-hide {
    scrollbar-width: none;
    
    &::-webkit-scrollbar {
      display: none;
    }
  }
  
  /* region Info section styling (info-*) */
  
  .info-section-base {
    @apply rounded-lg p-4;
  }
  
  .info-section-bg {
    @apply bg-gradient-to-br from-slate-200/25 to-slate-100/10;
  }
  
  .info-section {
    @apply info-section-base info-section-bg;
  }
  
  .info-highlight {
    @apply info-highlight-base shadow-border;
  }
  
  .info-highlight-outer {
    @apply info-highlight-base shadow-border-outer;
  }
  
  /* endregion */
  
  /* region Image inverting (invert-*) */
  
  .invert-hoverable {
    @apply group-hover:invert;
  }
  
  /* endregion */
  
  /* region Button styling (button-*) */
  
  .button-base {
    @apply rounded-lg transform-smooth;
  }
  
  .button-bg {
    @apply bg-slate-50/20;
  }
  
  .button-bg-warn {
    @apply bg-amber-400/30;
  }
  
  .button-clickable {
    @apply button-base button-bg-hover button-text-hover;
  }
  
  .button-clickable-border {
    @apply button-clickable button-border;
  }
  
  .button-clickable-bg {
    @apply button-clickable button-bg;
  }
  
  .button-clickable-bg-warn {
    @apply button-clickable button-bg-warn;
  }
  
  .button-disabled {
    @apply button-base bg-slate-400/30 text-slate-500/50;
  }
  
  .button-disabled-border {
    @apply button-disabled border border-slate-400/40;
  }
  
  /* endregion */
  
  /* region Toggle button styling (button-toggle-*) */
  
  .button-toggle-inactive-hover {
    @apply hover:bg-slate-500 hover:text-slate-100;
  }
  
  .button-toggle-inactive-bg {
    @apply bg-slate-700/50;
  }
  
  .button-toggle-inactive {
    @apply button-toggle-common button-toggle-inactive-hover button-toggle-inactive-bg;
  }
  
  .button-toggle-active-hover {
    @apply hover:bg-slate-400 hover:text-slate-800;
  }
  
  .button-toggle-active-bg {
    @apply bg-slate-50 text-slate-800;
  }
  
  .button-toggle-active {
    @apply button-toggle-common button-toggle-active-hover button-toggle-active-bg;
  }
  
  /* endregion */
  
  /* region Input row styling (input-row-*) */
  
  .input-row-normal {
    @apply bg-slate-50/40;
  }
  
  .input-row-highlight {
    @apply bg-slate-50;
  }
  
  /* endregion */
  
  /* region Miscellaneous text styling (text-*) */
  
  .text-shadow-preset {
    @apply shadow-slate-200 text-shadow;
  }
  
  .text-link {
    @apply border-b border-blue-400 text-blue-400 hover:border-blue-200 hover:text-blue-200;
  }
  
  /* endregion */
  
  /* region Blink styling (bg-blink-on-*) */
  
  .bg-blink {
    @apply bg-blink-base;
    
    --bg-highlight: theme('colors.slate.300');
  }
  
  /* endregion */
  
  /* region Border styling (border-*) */
  
  .border-button-clickable {
    @apply border-slate-50/70;
  }
  
  /* endregion */
  
  /* region Navbar styling (nav-*) */
  
  .nav-height {
    @apply h-12;
  }
  
  .nav-button {
    @apply nav-height py-1;
  }
  
  .nav-button-text {
    @apply nav-button flex items-center justify-center button-clickable-bg whitespace-nowrap px-3.5;
  }
  
  /* endregion */
}
